.panel {
  &__header {
    display: flex;
    align-items: center;
    background-color: $light-gray;
    border: 1px solid $main-gray;
    animation: appear 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  }

  &__heading {
    max-width: 70%;
  }

  &__article {
    background-color: $main-white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;

    &.opened {
      max-height: 200px;
    }
  }

  &__body {
    border: 1px solid $main-gray;
    padding: 10px;
    margin: 0;
  }
}
