.select {
  margin: 10px 0px;
  padding: 10px 20px;
  background-color: $main-white;
  border: 2px solid $main-gray;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease;
}
