//GLOBAL COLORS
$light-gray: #eee;
$main-gray: #ddd;
$dark-gray: #cbcbcb;
$main-white: #fefefe;
$main-blue: rgb(17, 160, 243);
$darker-gray: #7696bb;

//SWITCH ADJUSTMENTS HERE
$input-bg-on: $main-blue;
$input-bg-off: $dark-gray;
$input-switch: $main-white;

$input-width: 2rem; //dimensions
$transition-time: 0.4s; //duration
//END OF ADJUSTMENTS
